* {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
a,
li {
  all: unset;
}

.abt {
  color: rgb(62,131,251);
}
.back {
  width: 100vw;
  height: 100vh;
}
.top_nav {
  padding-top: 5vh;
  padding-right: 5vw;
  display: flex;
  justify-content: end;
  gap: 50px;
  font-size: 30px;
}
.content_wrapper{
  display: flex;
}
.n1{
  width: 600px;
}
.n2{
  width: 500px;
}
.n3{
  font-size: 25px;
}